@import './Variables.scss';

.contact-container {
    background-color: black;
    padding: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    @media screen and (max-width: 1300px) {
        border-radius: 0px;
    }

    h1 {
        font-family: 'Merriweather', serif;
        font-size: 1.6rem;
        background-color: white;
        color: black;
        padding: 5px 20px;
        border-radius: 2px;
        display: inline-block;
    }

    .img-flex {
        display: flex;
        align-items: center;

        @media screen and (max-width: 784px){
            flex-direction: column;
            margin-top: 30px;
        }
    }

    .img-container {
        width: 50%;
        text-align: center;

        img {
            width: 200px;
            border-radius: 100px;
            
            @media screen and (max-width: 784px){
                width: 100px;
                border-radius: 50px;
            }
        }
    }

    .info {
        padding: 30px;

        a {
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        span {
            font-family: 'Roboto', sans-serif;
            margin: 20px;
            font-size: 1.3rem;
            
            @media screen and (max-width: 600px){
                margin: 10px;
                font-size: 1rem;
            }
        }

        @media screen and (max-width: 500px){
            padding: 30px 0;
        }
    }
}