.none {
    display: none
}

.block {
    display: block
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: rgba(53, 53, 53, 0.897);
    width: 80%;
    height: auto;
    padding: 50px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    .modal-title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        h1 {
            font-family: 'Merriweather', serif;
            font-size: 2.5rem;
        }

        p {
            padding: 10px;
            border: 1px solid black;
            border-radius: 3px;
            font-size: 1.2rem;

            &:hover {
                background-color: rgb(58, 58, 58);
                cursor: pointer;
            }
        }
    }

    .modal-body {
        height: 300px;
        margin: 30px 0;
        display: flex;

        div {
            width: 49%;
        }
        
        .modal-desc {
            border-left: 2px solid black;
            width: 49%;
            padding: 25px;

            li {
                font-size: 1.2rem;
                font-family: 'Roboto', sans-serif;
                width: 100%;
                // border: 1px solid red;
                list-style-type: square;
                margin: 0 0 20px 20px;
            }
        }
    }
}

