@import './Variables.scss';

.projects {
    background-color: rgba(71, 71, 71, 0.76);
    margin: 350px auto;
    padding: 100px 80px 40px;
    border-radius: 5px;

    h1 {
        font-family: 'Merriweather', serif;
        font-size: 1.6rem;
        background-color: white;
        padding: 5px 20px;
        border-radius: 2px;
        display: inline-block;
        // width: 250px;
        margin: 0 auto 20px;
        text-align: center;
    }
    
    .description {
        font-family: 'Roboto', sans-serif;
        color: rgb(204, 202, 202);
        margin-top: 30px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: $tablet){
            flex-direction: column;
            align-items: center;
        }

        .project-card {
            margin: 50px 0;
            padding: 1px;
            background-color: rgb(71, 84, 95);
            display: flex;
            border-radius: 3px;
            border: 1px solid gray;
            width: 48%;

            @media screen and (max-width: $tablet){
                width: 80%;
            }
    
            img {
                height: 400px
            }
    
            .project-info {
                padding: 20px;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                flex-direction: column;
    
                h2 {
                    font-family: 'Merriweather', serif;
                    font-size: 1.2rem;
                }
    
                .proj-desc {
                    font-family: 'Roboto', sans-serif;
                    margin: 20px 0 40px;
                    color: rgb(204, 202, 202);
                    line-height: 1.2;
                }
    
                h3 {
                    font-family: 'Merriweather', serif;
                    font-size: .9rem;
                }
    
                .tech {
                    display: flex;
                    // justify-content: space-between;
                    margin: 15px 5px 40px;
                    
                    div {
                        text-align: center;
                        margin-right: 25px;
    
                        img {
                            height: 30px;
                        }
    
                        p {
                            margin-top: 5px;
                            font-family: 'Roboto', sans-serif;
                            color: rgb(204, 202, 202);
                            font-size: .8rem;
                        }
                    }
                }
    
                .buttons {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    a {
                        text-decoration: none;
                        color: gray;
                        margin-right: 5px;
                        padding: 5px 10px;
                        border-radius: 20px;
                        border: 1px solid gray;
                        font-size: .8rem;
                        font-family: 'Roboto', sans-serif;
                        flex-direction: column;
        
                        &:hover {
                            background-color: gray;
                            color: rgb(49, 60, 70);
                        }
                    }
    
                }

                .see-more {
                    font-family: 'Roboto', sans-serif;
                    font-size: .8rem;
                    // margin-top: 25px;
                    padding: 5px 10px;
                    border-radius: 20px;
                    border: 1px solid gray;
                    color: rgb(49, 60, 70);
                    background-color: gray;
                    width: fit-content;
                    cursor: pointer;
                    
                    &:hover {
                        border: 1px solid gray;
                        background-color: rgb(49, 60, 70);
                        color: gray;
                    }
                }
    
            }
        }

        .desktop {
            width: 100%;

            @media screen and (max-width: $tablet){
                width: 80%;
                // height: 600px;
                display: flex;
                flex-direction: column;

                .desktop-img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        
    }
}