@import './Variables.scss';

.projects {
    background-color: rgba(71, 71, 71, 0.76);
    border: 1px solid black;
    margin: 350px auto;
    padding: 100px 80px 40px;
    border-radius: 5px;

    @media screen and (max-width: 1300px) {
        border-radius: 0px;
    }

    @media screen and (max-width: 700px){
        padding: 80px 40px 20px;
    }

    @media screen and (max-width: 500px){
        margin: 250px auto;
    }

    h1 {
        font-family: 'Merriweather', serif;
        font-size: 1.6rem;
        background-color: white;
        padding: 5px 20px;
        border-radius: 2px;
        display: inline-block;
        // width: 250px;
        margin: 0 auto 20px;
        text-align: center;
        box-shadow: 4px 4px 4px #272727;
    }
    
    .description {
        font-family: 'Roboto', sans-serif;
        color: rgb(204, 202, 202);
        margin-top: 30px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: $tablet){
            flex-direction: column;
            align-items: center;
        }

        .project-card {
            margin: 50px 0;
            padding: 1px;
            background-color: rgb(71, 84, 95);
            display: flex;
            border-radius: 3px;
            border: 1px solid gray;
            width: 48%;
            box-shadow: 5px 5px 10px #272727;

            @media screen and (max-width: $tablet){
                width: 80%;
            }

            @media screen and (max-width: 700px){
                width: 100%;
                margin: 20px 0;
            }
    
            .screenshot {
                height: 400px;

                @media screen and (max-width: 750px) {
                    height: 350px;
                }

                @media screen and (max-width: 700px) {
                    display: none;
                }
            }
    
            .project-info {
                padding: 20px;
                display: flex;
                justify-content: center;
                margin: 0 auto;
                flex-direction: column;
    
                h2 {
                    font-family: 'Merriweather', serif;
                    font-size: 1.2rem;
                }
    
                .proj-desc {
                    font-family: 'Roboto', sans-serif;
                    margin: 20px 0 40px;
                    color: rgb(204, 202, 202);
                    line-height: 1.2;

                    @media screen and (max-width: 750px) {
                        font-size: .8rem;
                    }
                }
    
                h3 {
                    font-family: 'Merriweather', serif;
                    font-size: .9rem;
                }
    
                .tech {
                    display: flex;
                    // justify-content: space-between;
                    margin: 15px 5px 40px;
                    
                    div {
                        text-align: center;
                        margin-right: 25px;
    
                        img {
                            height: 30px;

                            @media screen and (max-width: 750px) {
                                height: 25px;
                            }
                        }
    
                        p {
                            margin-top: 5px;
                            font-family: 'Roboto', sans-serif;
                            color: rgb(204, 202, 202);
                            font-size: .8rem;
                        }

                        @media screen and (max-width: 400px){
                            margin-right: 15px;
                        }
                    }
                }
    
                .buttons {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    a {
                        text-decoration: none;
                        color: rgb(170, 170, 170);
                        margin-right: 5px;
                        padding: 5px 10px;
                        border-radius: 20px;
                        border: 1px solid rgb(170, 170, 170);
                        font-size: .8rem;
                        font-family: 'Roboto', sans-serif;
                        flex-direction: column;
                        box-shadow: 2px 3px 3px #272727;
        
                        &:hover {
                            background-color: rgb(170, 170, 170);;
                            color: rgb(49, 60, 70);
                        }
                    }

                    @media screen and (max-width: 800px) {
                        .github {
                            display: none
                        }
                    }

                    @media screen and (max-width: 700px) {
                        justify-content: center;

                        a {
                            padding: 5px 25px;
                            font-size: .9rem;
                        }
                    }
    
                }

                .see-more {
                    font-family: 'Roboto', sans-serif;
                    font-size: .8rem;
                    // margin-top: 25px;
                    padding: 5px 10px;
                    border-radius: 20px;
                    border: 1px solid gray;
                    color: rgb(49, 60, 70);
                    background-color: rgb(170, 170, 170);
                    width: fit-content;
                    cursor: pointer;
                    box-shadow: 3px 3px 3px #333333;
                    
                    &:hover {
                        border: 1px solid gray;
                        background-color: rgb(49, 60, 70);
                        color: gray;
                    }

                    @media screen and (max-width: 700px) {
                        display: none;
                    }
                }
    
            }
        }

        .desktop {
            width: 48%;
            flex-direction: column;

            @media screen and (min-width: $tablet){

                .project-info {
                    padding: 20px 30px;

                    .proj-desc {
                        margin: 5px 10px 0 0;
                    }

                    .info-flex {
                        display: flex;
                        justify-content: space-between;

                        // @media screen and (max-width: $tablet){
                        //     flex-direction: column;
                        // }

                        .proj-desc {
                            font-size: 15px;
                        }
        
                        .tech {
                            margin-bottom: 20px;
                        
                            div:last-child{
                                margin-right: 0;
                            }
                        }
                    }
                }
            }

            .desktop-img{
                width: 100%;
                height: auto;
            }

            @media screen and (max-width: $tablet){
                width: 80%;
                // height: 600px;
                // display: flex;
                // flex-direction: column;

                .desktop-img {
                    max-width: 100%;
                    height: auto;
                }
            }

            @media screen and (max-width: 700px){
                width: 100%;
            }
        }
        
    }
}