.projects {
    background-color: rgba(0, 0, 0, 0.418);
    margin: 200px auto;
    padding: 80px 80px 40px;
    border-radius: 5px;

    h1 {
        font-family: 'Merriweather', serif;
        font-size: 1.6rem;
        background-color: white;
        padding: 5px 20px;
        border-radius: 2px;
        display: inline-block;
    }

    .description {
        font-family: 'Roboto', sans-serif;
        color: rgb(204, 202, 202);
        margin-top: 30px;
    }

    .project-card {
        margin: 50px 25px 100px;
        background-color: rgb(49, 60, 70);
        display: flex;
        border-radius: 3px;
        border: 1px solid gray;

        img {
            height: 250px
        }

        .project-info {
            width: 450px;
            display: flex;
            justify-content: center;
            // align-content: center;
            margin: 0 auto;
            flex-direction: column;

            h2 {
                font-family: 'Merriweather', serif;
                font-size: 1.2rem;
            }

            p {
                font-family: 'Roboto', sans-serif;
                margin: 20px 0;
                color: rgb(204, 202, 202);
                line-height: 1.2;
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    text-decoration: none;
                    color: gray;
                    margin: 5px;
                    padding: 5px 10px;
                    border-radius: 20px;
                    border: 1px solid gray;
                    font-size: .9rem;
    
                    &:hover {
                        background-color: gray;
                        color: rgb(49, 60, 70);
                    }
                }

                button {
                    padding: 5px 10px;
                    // background-color: gray;
                    border-radius: 3px;
                    font-family: 'Roboto', sans-serif;
                }
            }

        }
    }
}