.header-page {
    height: 800px;
    width: 99%;
    margin: 0 auto;
    background-color: rgba(71, 71, 71, 0.76);
    
    .logos {
        // border: 1px solid white;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        text-align: center;

        a {
            text-decoration: none;
            transition: all .2s ease-in-out;

            &:hover { transform: matrix(1.1, 0.15, 0, 1.1, -2, -2); }
        }

        .logo {
            color: rgb(214, 214, 214);
            margin: 20px 20px 1.5px;
        }

        p {
            font-family: 'Roboto', sans-serif;
            color: rgb(194, 194, 194);
            margin-top: 5px;
            font-size: .7rem;
        }
    }
}


.title {
    height: 550px;
    display: flex;
    // border: 1px solid blue;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 2.4rem;
        font-family: 'Merriweather', serif;
        margin: 10px;
    }
    
    h2 {
        margin: 10px;
        font-size: 1.2rem;
        color: rgb(194, 194, 194);
        font-family: 'Roboto', sans-serif;
    }
}